[package]
name = "mscore"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
itertools = "0.11.0"
rayon = "1.8.0"
nalgebra = "0.32.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"


[lib]
name = "mscore"
path = "src/lib.rs"
