[main_settings]
save_path = "/scratch/timsim/submission/examples/"
reference_path = "/scratch/timsim/submission/blanks/dia/G241217_012_Slot2-2_1_16313.d"
fasta_path = "/media/hd02/data/fasta/hela/plain/hela.fasta"
experiment_name = "TIMSIM-DIA-G15-HeLa10K-001"
acquisition_type = "DIA"
use_reference_layout = true
reference_in_memory = false
sample_peptides = true
add_decoys = false
proteome_mix = false
silent_mode = false
from_existing = false
existing_path = ""
apply_fragmentation = true

[peptide_digestion]
num_sample_peptides = 10000
missed_cleavages = 2
min_len = 7
max_len = 30
cleave_at = "KR"
restrict = "P"

[peptide_intensity]
intensity_mean = 5
intensity_min = 4
intensity_max = 8
sample_occurrences = true
intensity_value = 6

[isotopic_pattern]
isotope_k = 8
isotope_min_intensity = 1
isotope_centroid = true

[distribution_settings]
gradient_length = 900.0
mean_std_rt = 0.9
variance_std_rt = 0.2
mean_skewness = 1.5
variance_skewness = 0.01
z_score = 0.99
target_p = 0.999
sampling_step_size = 0.0001

[phosphorylation_settings]
phospho_mode = false

[noise_settings]
add_noise_to_signals = true
mz_noise_precursor = true
precursor_noise_ppm = 6.5
mz_noise_fragment = true
fragment_noise_ppm = 6.5
mz_noise_uniform = false
add_real_data_noise = true
reference_noise_intensity_max = 150000
down_sample_factor = 0.5

[property_variation_settings]
rt_variation_std = 15
ion_mobility_variation_std = 0.008
intensity_variation_std = 0.02

[charge_state_probabilities]
p_charge = 0.5
min_charge_contrib = 0.25

[performance_settings]
num_threads = -1
batch_size = 256

[logging_settings]
log_level = "INFO"
# log_file = "timsim.log"  # Uncomment to enable file logging
