[tool.poetry]
name = "imspy"
version = "0.2.14"
description = ""
authors = ["theGreatHerrLebert <davidteschner@googlemail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
pandas = ">=2.1"
numpy = ">=1.21"
numba = ">=0.53"
tensorflow = ">=2.14"
tensorflow-probability = ">=0.22.1"
pyopenms = ">=2.6.0"

imspy-connector = ">=0.2.7"
scipy = ">=1.7.1"
tqdm = ">=4.66"
pyarrow =">=13.0"
mendeleev = ">=0.7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
