[package]
name = "imspy-connector"
version = "0.2.24"
edition = "2021"

[lib]
name = "imspy_connector"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21.2", features = ["extension-module", "gil-refs"] }
numpy = "0.21.0"
mscore = {path = "../mscore"}
rustdf = {path = "../rustdf"}
serde = "1.0.202"
serde_json = "1.0.117"
ndarray = "0.15.6"